<!DOCTYPE html>
<html lang="fa">
<head>
  <%- include("../partials/meta.ejs") %>
  <%- include("../partials/links.ejs") %>
</head>
<body
  style="background-image: url('/img/policy-background.webp');background-repeat: no-repeat; background-size: cover;background-position: top;max-height: 1000px">
  <%- include("../partials/header.ejs") %>
  <main class="container py-3 text-right">
    <div class="mt-3 rounded box-shadow-muted bg-white-transparent-2 p-3">
      <h1 class="text-center text-light bg-black-transparent-3 px-4 py-2">قوانین و مقررات</h1>
      <p class=" text-justify">
        کاربر گرامی در نظر داشته باشید که شما با استفاده از این وبسایت موافقت خود را با تمامی قوانین و مقررات ذکر شده در
        این صفحه اعلام می کنید و همچنین درباره استفاده ی سایت <a href="./index.html" class="mx-2"><strong
            class="text-info">رونیشکا</strong></a>از محتوا های تولید شده توسط شما به عنوان تولید کننده
        محتوای فعال در سایت <a href="./index.html" " class=" mx-2"><strong class="text-info">رونیشکا</strong></a> بدون
        قید
        و شرط اعلام
        رضایت میکنید.
      </p>
      <div class="container max-height-903 bg-transparent w-100 p-0">
        <div class="accordion bg-transparent" id="accordion">
          <div class="card bg-transparent">
            <div class="card-header p-0 my-1" id="Rule-One-button">
              <h2 class="mb-0">
                <button class="btn btn-info btn-block text-right" type="button" data-toggle="collapse"
                  data-target="#Rule-One-text" aria-expanded="true" aria-controls="Rule-One-text">
                  قوانین عمومی
                </button>
              </h2>
            </div>
            <div id="Rule-One-text" class="collapse show" aria-labelledby="Rule-One-button" data-parent="#accordion">
              <div class="card-body bg-transparent text-right">
                <ul>
                  <li>
                    تمامی کاربران باید جهت استفاده از خدمات سایت ماننده خرید و سفارش محصول ابتدا در سایت با موافقت با
                    تمام قوانین و مقررات ثبت نام کرده و تعهد کرده که در هنگام ثبت نام تمامی اطلاعات خواسته شده را با
                    صداقت و صحت کامل وارد کند.
                  </li>
                  <li>
                    تمامی کابران باید در نظر داشته باشند که وبسایت <a href="./index.html" class="mx-2"><strong
                        class="text-info">رونیشکا</strong></a> هیچگونه محصولی را صاحب نمی باشد و تنها آن
                    محصول را از سراسر وب و از سایت های معتبر به شما معرفی کرده و در قبال پرداخت ها و مشکلاتی که ممکن است
                    بعد از خرید محصول اتفاق افتد هیچگونه مسئولیتی ندارد و این مسئولیت برعهده ی سایت فروشنده می باشد.
                  </li>
                  <li>
                    کاربران گرامی باید در نظر داشته باشند که کیفیت محصولات نیز از جانب وبسایت <a href="./index.html"
                      class="mx-2"><strong class="text-info">رونیشکا</strong></a> تضمین نمی شود مگر
                    اینکه محصول دارای تیک تضمین باشد و این بدین معناست که محصول توسط این وبسایت توصیه می شود و وبسایت
                    <a href="./index.html" class="mx-2"><strong class="text-info">رونیشکا</strong></a> هیچگونه مسئولیتی
                    در رابطه با محصولی که به دست شما میرسد ندارد.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-header p-0 my-1" id="Rule-Two-button">
              <h2 class="mb-0">
                <button class="btn btn-info btn-block text-right" type="button" data-toggle="collapse"
                  data-target="#Rule-Two-text" aria-expanded="true" aria-controls="Rule-Two-text">
                  قوانین مربوط به تولید کنندگان محتوا
                </button>
              </h2>
            </div>
            <div id="Rule-Two-text" class="collapse" aria-labelledby="Rule-Two-button" data-parent="#accordion">
              <div class="card-body text-right bg-transparent">
                <ul>
                  <li>
                    سایت <a href="./index.html" class="mx-2"><strong class="text-info">رونیشکا</strong></a> از مطالب و
                    متحوا ها تولید شده توسط کاربران همین وبسایت استفاده می کند در صورتی که
                    محتوای تولید شده قانون کپی رایت را نقض کند محتوا حذف شده تولید کننده ی آن محتوا از فعالیت در این
                    سایت منع شده و هیچگونه حقی در رابطه با محتواهای تولید شده توسط وی ندارد.
                  </li>
                  <li>
                    هر تولید کننده محتوا باید در محتوایی که تولید میکند شئونات را رعایت کرده در غیر این صورت محتوا حذف
                    شده و تولید کننده ی آن محتوا از فعالیت در این سایت منع شده و هیچگونه حقی در رابطه با محتوا های
                    تولید شده توسط ئی ندارد.
                  </li>
                  <li>
                    هر محتوایی که تولید کننده قصد به انتشار آن در سایت دارد باید عاری از هرگونه توهین و اهانت به اشخاص ،
                    مذاهب ء اعتقادات ، ادیان باشد ، در غیر این صورت محتوا حذف شده و تولید کننده آن محتوا از فعالیت در
                    این سایت منع میشود.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <%- include("../partials/loader.ejs") %>
  <%- include("../partials/privacy-policy.ejs") %>
	<%- include("../partials/scripts.ejs") %>
</body>
<%- include("../partials/footer.ejs") %>

</html>